{% extends 'base.html' %}

{% block content %}
<style>
    .login {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        background-color: #0C3B2E;
    }

    .form {
        position: relative;
        z-index: 1;
        height: 50%;
        background: #FFFFFF;
        border-radius: 25px;
        max-width: 380px;
        margin: -50px auto 100px;
        padding: 45px;
        top: 275px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .login form input {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 10x;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .button {
        display: inline-block;
        padding: 10px 0px;
        border: none;
        margin-top: 10px 0;
        width: 800px;
        max-width: 100%;
        border-radius: 10px;
        background-color: #FFBA00;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .button:hover {
        background-color: #ffcc00;
    }
</style>
<div class="login">
    <div class="form">
        <div class="register">


            <form method="post">
                {% csrf_token %}
                <!-- <input type="submit" name="btn" value="Add cards"> -->
                {{ form.as_p }}
                <input type="submit" class="button" value="Register" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}
